.container-last-created{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-last-created-product{
    width: 400px;
    height: 400px;
    background-color: gray;
}

.container-last-created-user{
    width: 400px;
    height: 400px;
    background-color: gray;
}