.container-totals{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-totals-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2%;
    border: 1px solid gray;
    width: 30%;
    justify-content: space-evenly;
    background-color: white;
}

.totals-header{
    padding-top: 50px;
}

.header-totals-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
    text-decoration: none;
    color: white;
    margin: 30px;
}